<div class="block">
	<div class="left">
		<img class="img-circle small-avatar" src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" alt="Responsive image">
	</div>
	<div class="left">
		<p class="align-left small">{{ .Site.Params.author }}<br/>
			{{ .Site.Params.description }}</p>
	</div>
</div>
<div class="block social social-alt">
	<h5>
    {{ if .Site.Social.github }}
	  <a href="http://github.com/{{ .Site.Social.github }}"><i class="fa fa-github"></i></a>
    {{ end }}

    {{ if .Site.Social.email }}
	  <a href="mailto:{{ .Site.Social.email }}"><i class="fa fa-envelope"></i></a>
    {{ end }}

    {{ if .Site.Social.twitter }}
	  <a href="http://twitter.com/{{ .Site.Social.twitter }}"><i class="fa fa-twitter"></i></a>
    {{ end }}

    {{ if .Site.Social.linkedin }}
	  <a href="http://linkedin.com/in/{{ .Site.Social.linkedin }}"><i class="fa fa-linkedin"></i></a>
    {{ end }}

    {{ if .Site.Social.stackoverflow }}
	  <a href="http://stackoverflow.com/{{ .Site.Social.stackoverflow }}"><i class="fa fa-stack-overflow"></i></a>
    {{ end }}
	</h5>
</div>
